USE [master]
GO
/****** Object:  Database [advSebastianGeidvik]    Script Date: 2021-04-11 16:14:17 ******/
CREATE DATABASE [advSebastianGeidvik]
GO
USE [advSebastianGeidvik]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2021-04-11 16:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cages]    Script Date: 2021-04-11 16:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Cages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExerciseCages]    Script Date: 2021-04-11 16:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExerciseCages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ExerciseCages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hamsters]    Script Date: 2021-04-11 16:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hamsters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[CageId] [int] NULL,
	[ExerciseCageId] [int] NULL,
	[Owner] [nvarchar](max) NULL,
	[CheckedIn] [datetime2](7) NULL,
 CONSTRAINT [PK_Hamsters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2021-04-11 16:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Activity] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[HamsterId] [int] NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210330153307_start', N'5.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210330153836_add cages', N'5.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210331124131_added new migration', N'5.0.4')
GO
SET IDENTITY_INSERT [dbo].[Cages] ON 

INSERT [dbo].[Cages] ([Id]) VALUES (1)
INSERT [dbo].[Cages] ([Id]) VALUES (2)
INSERT [dbo].[Cages] ([Id]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Cages] OFF
GO
SET IDENTITY_INSERT [dbo].[ExerciseCages] ON 

INSERT [dbo].[ExerciseCages] ([Id]) VALUES (1)
SET IDENTITY_INSERT [dbo].[ExerciseCages] OFF
GO
SET IDENTITY_INSERT [dbo].[Hamsters] ON 

INSERT [dbo].[Hamsters] ([Id], [Name], [Age], [Gender], [CageId], [ExerciseCageId], [Owner], [CheckedIn]) VALUES (92, N'Rufus', 4, 0, NULL, NULL, N'Kallegurra Aktersnurra', NULL)
INSERT [dbo].[Hamsters] ([Id], [Name], [Age], [Gender], [CageId], [ExerciseCageId], [Owner], [CheckedIn]) VALUES (93, N'Lisa', 12, 1, NULL, NULL, N'Kallegurra Aktersnurra', NULL)
INSERT [dbo].[Hamsters] ([Id], [Name], [Age], [Gender], [CageId], [ExerciseCageId], [Owner], [CheckedIn]) VALUES (94, N'Fluff', 11, 0, NULL, NULL, N'Carl Hamilton', NULL)
SET IDENTITY_INSERT [dbo].[Hamsters] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [Activity], [TimeStamp], [HamsterId]) VALUES (1080187, 0, CAST(N'2021-04-11T07:00:00.0000000' AS DateTime2), 121)
INSERT [dbo].[Logs] ([Id], [Activity], [TimeStamp], [HamsterId]) VALUES (1080188, 0, CAST(N'2021-04-11T07:00:00.0000000' AS DateTime2), 119)
INSERT [dbo].[Logs] ([Id], [Activity], [TimeStamp], [HamsterId]) VALUES (1080189, 0, CAST(N'2021-04-11T07:00:00.0000000' AS DateTime2), 93)
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
/****** Object:  Index [IX_Hamsters_CageId]    Script Date: 2021-04-11 16:14:18 ******/
CREATE NONCLUSTERED INDEX [IX_Hamsters_CageId] ON [dbo].[Hamsters]
(
	[CageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hamsters_ExerciseCageId]    Script Date: 2021-04-11 16:14:18 ******/
CREATE NONCLUSTERED INDEX [IX_Hamsters_ExerciseCageId] ON [dbo].[Hamsters]
(
	[ExerciseCageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_HamsterId]    Script Date: 2021-04-11 16:14:18 ******/
CREATE NONCLUSTERED INDEX [IX_Logs_HamsterId] ON [dbo].[Logs]
(
	[HamsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hamsters] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CheckedIn]
GO
ALTER TABLE [dbo].[Hamsters]  WITH CHECK ADD  CONSTRAINT [FK_Hamsters_Cages_CageId] FOREIGN KEY([CageId])
REFERENCES [dbo].[Cages] ([Id])
GO
ALTER TABLE [dbo].[Hamsters] CHECK CONSTRAINT [FK_Hamsters_Cages_CageId]
GO
ALTER TABLE [dbo].[Hamsters]  WITH CHECK ADD  CONSTRAINT [FK_Hamsters_ExerciseCages_ExerciseCageId] FOREIGN KEY([ExerciseCageId])
REFERENCES [dbo].[ExerciseCages] ([Id])
GO
ALTER TABLE [dbo].[Hamsters] CHECK CONSTRAINT [FK_Hamsters_ExerciseCages_ExerciseCageId]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Hamsters_HamsterId] FOREIGN KEY([HamsterId])
REFERENCES [dbo].[Hamsters] ([Id])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Hamsters_HamsterId]
GO
USE [master]
GO
